.env
node_modules
cert/
res.txt
consulta-folios.js
consulta-dte.js
certificado/certificado.pem
certificado/clave.pem
boletas.controller backup.js
test.js
certificadoalejandro.pfx
certificadoluis.pfx
caf copy segunda empresa
caf copy wit
certificadoluis.pem
claveluis.pem
certificadolix.pfx